---
import CardAbout from "./about/CardAbout";
---

<div class="w-[75%] max-sm:grid-cols-1 h-fit grid grid-cols-3 gap-10 mx-auto mb-[40vh]">
    <CardAbout
        title={"Nuestra misión"}
        paragraph={"En YourHiring, nuestra misión es empoderar a los profesionales del mundo IT con una herramienta sencilla y efectiva para gestionar sus postulaciones laborales. Queremos que cada usuario tenga una visión clara de su progreso, identifique áreas de mejora y alcance sus metas profesionales."}
        classIcon={"fa-regular fa-compass"}
    />

    <CardAbout
        title={"¿Qué ofrecemos?"}
        paragraph={"YourHiring ofrece una plataforma intuitiva para registrar y organizar postulaciones. Cada campo, desde el nombre de la empresa hasta las observaciones, proporciona una visión completa del proceso de búsqueda de empleo. Almacena la información en el localStorage para acceder sin internet."}
        classIcon={"fa-solid fa-hand-holding-heart"}
    />

    <CardAbout
        title={"¿Cómo funciona?"}
        paragraph={"Usar YourHiring es sencillo. Completa los campos solicitados paracada postulación: nombre de la empresa, cargo, fecha, modalidad detrabajo, estado, link, salario, ubicación y observaciones. Lainformación se guarda automáticamente en tu navegador, permitiéndoteacceder y actualizar tus datos en cualquier momento."}
        classIcon={"fa-solid fa-gears"}
    />
</div>

<style is:global>
    .boxCard {
        box-shadow: 0px 0px 20px #dedede;
    }
</style>
