---

---

<footer class="bg-[#07364a] py-[2vh]">
    <article class="w-full flex justify-center gap-x-10px">
        <a
            href="https://www.linkedin.com/in/diego-martins-563954278/"
            target="_blank"><i class="fa-brands fa-linkedin"></i></a
        >
        <a href="https://github.com/MartinsDiego17/" target="_blank"
            ><i class="fa-brands fa-github"></i></a
        >
        <a href="mailto:diegomartinsupe@hotmail.com"
            ><i class="fa-solid fa-envelope"></i></a
        >
    </article>
    <p class="text-center text-[#eee] font-light tracking-[1px]">
        Desarrollado por
        <a
            class="text-[#7ce0fd]"
            href="https://portfolio2-0-xi-three.vercel.app/"
            target="_blank"
        >
            Diego Martins
        </a>
    </p>
</footer>

<style>
    article a {
        margin: 0 10px;
        color: #7ce0fd;
        font-size: 1.2rem;
    }
</style>
