---
import ButtonRedirect from "./home/ButtonRedirect"
---

<div
    class="leading-none pb-[10%] father w-screen h-screen flex flex-col justify-center place-items-center"
>
    <h1 class="max-sm:text-[3.5rem] 2xl:text-[8rem] textDark text-[5rem] font-extrabold">
        Your<span class="medium">Hiring</span>
    </h1>
    <p class="max-sm:text-[1.1rem] max-sm:mb-[4%] 2xl:text-[1.85rem] text-[1.4rem] text-[#888] tracking-[1px] mt-[1%]">
        Optimiza al máximo tu búsqueda laboral
    </p>
<ButtonRedirect client:visible/>
</div>
