---
import BarPostulation from "./postulaciones/BarPostulation";
---

<div id="postulations" class="w-[75%] h mx-auto h-scree n mb-[40vh] ">
    <BarPostulation client:only="react" />
</div>

<style is:global>
    .cardContainer {
        min-width: 75vw;
    }
    .containerList {
        overflow: scroll;
        overflow-x: hidden;
    }

    .containerList::-webkit-scrollbar {
        width: 5px;
    }

    .containerList::-webkit-scrollbar-thumb {
        background-color: #333;
        border-radius: 30px;
    }

    .containerList::-webkit-scrollbar-thumb:hover {
        background-color: black;
    }
</style>
